@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: inter;
    src: url("../src/assets/font/Inter_24pt-Medium.ttf");
}
@import "tailwindcss";
@theme{
    --font-inter:inter;
    --font-os:"Inter";
}